<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="/jhd/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/about.css"/>
    <script type="text/javascript" src="/jhd/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/jhd/js/slide.js"></script>
    <script type="text/javascript" src="/jhd/js/nav.js"></script>
</head>






<body>
    <div>
        <div class="navigation-up">
            <div class="navigation-inner">
                <div class="nav">
                    <ul>
                        <li class="nav-up-selected-inpage" data-nav="home">
                            <h2>
                                <a href="/">首页</a>
                            </h2>
                        </li>
                        <li data-nav="about" class=""><h2><a href="/jhd/about">关于我们</a></h2>
                        </li>

                        <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                        </li>
                        <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                        </li>
                        <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                        </li>
                        <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                        </li>
                        <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <img src="/jhd/images/fen_banner.jpg"/>
        </div>

        <div class="navigation-down">
            <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
                <div class="navigation-down-inner">
                    <dl>
                        <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                    </dl>
                    <dl style="margin-left: 100px;">
                        <dt>我们的产品</dt>
                        <dd>
                            <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product2">医院综合信息服务平台</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product3">人力资源管理系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product6">HRP系统</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="navigation-down">
            <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
                <div class="navigation-down-inner">
                    <dl>
                        <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px"/>
                    </dl>
                    <dl style="margin-left:100px">
                        <dt>公司产品</dt>
                        <dd>
                            <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product2">医院综合信息服务平台</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product3">人力资源管理系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                        </dd>
                        <dd>
                            <a href="/jhd/product6">HRP系统</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="us">
        <div id="CEO">
            <div class="tit">
                <h2>公司简介</h2>
                <p></p>
            </div>

          
                <div class="The_tu">
                    <img src="/jhd/images/gs_bgl.jpg"/>
                    
                    </div>
                   
          
     
        <div class="The_ci">
            <p>京弘达信息技术(北京)有限公司创始人团队多来自医疗行业上市公司、团队扎根于卫生医疗领域，经过多年的行业沉淀，团队在医疗健康服务领域已积累了全国最领先的技术实施、运营管理服务经验和能力。在医院战略管理、医院绩效管理、数据整合和运营数据分析方面有着非常丰富的实践经验。</p>
            <p> Lentan meets
                new challenges with brand new philosophy, system,
                aiming to realize the great transformation, We believe that only continue optimizing and enriching
                our corporate culture can we gain strong vitality and lasting
                developmental potential; that only pay more attention to creating
                value, respect and value intelligence and talents and pursue
                excellence, can we develop our new corporate value of excellence,
                creation and people-orientation. We are open to work together with all parts over the global
                to create a brighter future.
                </p>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>