<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="/jhd/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/about.css"/>
    <script type="text/javascript" src="/jhd/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/jhd/js/slide.js"></script>
    <script type="text/javascript" src="/jhd/js/nav.js"></script>

</head>
<body>
<div >
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner.jpg"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="navigation-down">
        <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px"/>
                </dl>
                <dl style="margin-left:100px">
                    <dt>公司产品</dt>
                    <dd>
                        <a href="">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


<div class="us">
    <div id="CEO">
        <div class="tit">
            <h2>虚位以待 </h2>
            <p></p>
        </div>

        <div style="color:#606060;">
            <h3>职位名称：高级Java开发工程师</h3>
            <p>招聘人数：5人</p>
            <p>职位描述： &nbsp;&nbsp;1、参与项目需求分析,进行概要设计和核心模块的详细设计及开发；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、配合测试，高质量完成项目；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、参与技术难题攻关、组织技术积累等工作。<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、负责指导程序员解决开发过程中遇到的技术问题；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、配合项目经理执行开发过程的技术管理工作。
            </p>
            <p>技能要求： &nbsp;&nbsp;1、 计算机科学或相关专业，本科以上学历，5年以上JAVA研发经验(能力好可放宽)，有办公系统相关开发经验者优先;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、精通J2EE编程，有Spring+Hibernate或类似框架的实际项目经验;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、参与过两个以上完整项目;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、熟悉Oracle、MySQL等数据库开发、SQL性能调优；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、熟悉JavaScript、Ajax/jquery、XML等相关技术；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、熟练掌握常用的Linux命令、shell脚本，Windows、Server的各项服务、应用配置；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、深入理解OOP思想，熟悉UML语言；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、有良好的代码书写、注释和单元测试习惯，熟练运用多种软件设计模式；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、具备良好的沟通合作技巧，较强的责任心及团队合作精神;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、有强烈的上进心和求知欲，对技术有激情，喜欢钻研，能快速接受和掌握新技术，对工作有较强的责任心;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11、有Active MQ或IBM MQ方面编程经验的优先录用;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12、有医疗行业经验的优先录用
            </p>
        </div>

        <div style="color:#606060;">
            <h3>职位名称：中级Java开发工程师</h3>
            <p>招聘人数：5人</p>
            <p>职位描述： &nbsp;&nbsp;1、参与项目需求分析,进行概要设计和核心模块的详细设计及开发;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、配合测试，高质量完成项目;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、参与技术难题攻关、组织技术积累等工作;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、负责指导程序员解决开发过程中遇到的技术问题;<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、配合项目经理执行开发过程的技术管理工作;
                </p>
            <p>技能要求：&nbsp;&nbsp;&nbsp;1、2年以上J2EE开发经验；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、熟练java语言，掌握J2EE技术，熟练使用SSH开发框架，并对SSH中一个或以上的框架有深入了解； <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、熟练使用JSP,HTML,JavaScript，CSS等开发技术,了解主流的JS、CSS开发框架；熟悉socket编程，使用过netty等非阻塞的框架；  <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、熟练使用SQL语法及oracle、mysql或sql server数据库应用开发；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、熟悉多线程，有处理过高并发的经验；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、有良好的代码书写、注释和单元测试习惯，熟练运用多种软件设计模式；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、具备良好的沟通合作技巧，较强的责任心及团队合作精神；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、有强烈的上进心和求知欲，对技术有激情，喜欢钻研，能快速接受和掌握新技术，对工作有较强的责任心；<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、有医疗行业经验的优先录用；
                </p>
        </div>
    </div>
</div>
<div class="foot">
    <P>COPYRIGHT BY @2011 JINGHONGDA CO.,LTD. ALL RIGHT
        RESERVED</P>
    <p>京弘达信息技术(北京)有限公司</p>
</div>
</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>