<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

</head>
<body>
<div>
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner.jpg"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row contact">
    <div class="news_list">
        <h3>
            <a  class="blue">在线医疗用户争夺战 阿里健康胜算几何</a>
        </h3>
        <span>
            <a class="blue">自进入2015年以来，阿里健康开始迅速出手，在先除掉甲骨文后，迅速与卫宁软件、中信银行、北京军区总医院、广州白云山、怀仁大药房、新浪微博/爱问等诸多医疗产业相互企业建立合作关系，其股价开始呈现井喷式上</a>
        </span>
    </div>

    <div class="news_list">
        <h3>
            <a  class="blue">树大招风的阿里健康要吃下多少家医院</a>
        </h3>
        <span>
            <a  class="blue">树大招风的阿里健康今日再度披露，线下业务推进正在积极进行，就在3月23日，阿里健康在广州，与珠三角地区规模最大的公立儿童妇幼医疗机构“广州市妇女儿童医疗中心”达成战略合作，该医院已经接入阿里健康的云</a>
        </span>
    </div>

    <div class="news_list">
        <h3>
            <a  class="blue">GSK裁员只为逃避巨额罚款?</a>
        </h3>
        <span>
            <a  class="blue">葛兰素史克(GSK)裁员事件正在持续发酵。3月18日，有GSK前员工告诉记者，称当天在位于上海市西藏中路的葛兰素史克上海总部大楼，被解聘员工代表与葛兰素史克高级副总裁、中国处方药及疫苗部总经理季海威进</a>
        </span>
    </div>

    <div class="news_list">
        <h3>
            <a  class="blue">百度布局医疗再取进展</a>
        </h3>
        <span>
            <a  class="blue">近日，百度布局医疗再取得进展，宣布与国内优秀的预约挂号及导医、咨询和点评服务平台就医160达成合作。相继与好大夫、健康之路和就医160等优质互联网医疗企业深度合作后，百度顺利挺进一线城市互联网医疗，并</a>
        </span>
    </div>
</div>

<div id="foot">
    <div class="nr">
        <span>COPYRIGHT BY @2011 JINGHONGDA CO.,LTD. ALL RIGHT RESERVED</span>
        <span>京弘达信息技术(北京)有限公司</span>
    </div>
</div>
</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>