<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

</head>
<body>
<div>
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about.html">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner.jpg"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="navigation-down">
        <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px"/>
                </dl>
                <dl style="margin-left:100px">
                    <dt>公司产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--main-->
<div class="fen_main">
    <div id="main">
        <!--left-->
        <div class="col_left" id="col_left">
            <div class="fo1">
                <div class="tit">
                    <span>公司产品</span>
                </div>
                <ul>
                    <li>
                        <a href="/jhd/product" >基于大数据的医院绩效管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product2" >医院综合信息服务平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product3" class="on">人力资源管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product6">HRP系统</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--right-->
        <div class="col_right" id="Article">
            <div class="tit">
                <h4>人力资源管理系统</h4>
                <span>您当前的位置:
                        <a href="/">首页</a>
                          >
                        <a href="/jhd/product">公司产品</a>
                          >
                        <a href="/jhd/product3" class="on">人力资源管理系统</a>
                </span>
            </div>
            <div class="content nry">
                <h4>构建统一的人力资源(HR)管理平台。在核心数据+辅助业务数据架构下，梳理重点业务间关联性，提出完整HR管理系统一体化方案，实现人员数据统一、业务流程统一、数据统计分析标准统一，实现全院人员集中信息管控。</h4>
                <h4>构建与业务部门的新型战略伙伴关系。通过规范统一的外部数据接口，借助人事模块、考勤模块与干部、人力资源、党务（组织）、财务、医疗、教务、科研、护理等系统的对接，实施单点业务触发、多点业务联动，进一步规范医院医疗和行政后勤运行，加强人力成本实时监控，实现医院运行的医、人、财、物、管立体交互，提升管理的整体效能。</h4>
                <h4>构建与员工的新型伙伴关系。借鉴互联网思维，注重系统易用性和用户体验，以业务为驱动，建立一点业务操作入口，多平台协同操作平台（PC+移动平台），以用户为中心的引导式操作界面标准，搭建社交协同化办公平台，构建员工的网上家园。</h4>
                <img src="/jhd/images/图片25.jpg"/>
            </div>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>