<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

</head>
<body>
<div>
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner.jpg"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="navigation-down">
        <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px"/>
                </dl>
                <dl style="margin-left:100px">
                    <dt>公司产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--main-->
<div class="fen_main">
    <div id="main">
        <!--left-->
        <div class="col_left" id="col_left">
            <div class="fo1">
                <div class="tit">
                    <span>公司产品</span>
                </div>
                <ul>
                    <li>
                        <a href="/jhd/product" >基于大数据的医院绩效管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product2" >医院综合信息服务平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product6" class="on">HRP系统</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--right-->
        <div class="col_right" id="Article">
            <div class="tit">
                <h4>HRP系统</h4>
                <span>您当前的位置:
                        <a href="/">首页</a>
                          >
                        <a href="/jhd/product">公司产品</a>
                          >
                        <a href="/jhd/product6" class="on">HRP系统</a>
                </span>
            </div>
            <div class="content nry">
                <h4>HRP（Hospital Resource Planning 医院运营管理）是医院引入ERP（Enterprise Resource Planning 企业资源计划）的成功管理思想和技术，融合现代化管理理念和流程，整合医院已有信息资源，创建一套支持医院整体运营管理的统一高效、互联互通、信息共享的系统化软件平台。</h4>
                <h4>在医疗改革不断深入的大背景下， 公立医院管理体制改革正在不断推进，新的医改政策要求进一步完善公立医院的财务、会计管理制度，严格预算管理，加强财务监管和运行监督，同时，医院自身对管理科学化、规范化、精细化的要求也越来越高，电讯盈科HRP方案通过对医院“人、财、物”一体化业务集成，消除医院“信息孤岛”，推进医院精细化的预算及控制手段落实、对各类设备与耗材的精细化采购与成本控制，全面监控并优化医院运营管理。</h4>
                <h4>京弘达HRP解决方案对于医院在业务流程化运作、全面预算及全成本核算、成本控制与绩效分析、决策支持等方面具有提升管理的应用价值。基于对医院业务发展思路、业务现状和IT系统情况等方面的理解，结合客户已有的系统，我们跟医院确定HRP项目的整体实施模块如下：</h4>
                <br/>
                <img src="/jhd/images/图片22.png"/>
                <br/>
                <h5 id="h5">物资供应链管理</h5>
                <br/>
                <h4>物料编码管理：对药品、耗材、备品备件及其他物资进行编码管理;</h4>
                <h4>供应商管理：对供应商招投标、框架协议等进行管理；</h4>
                <h4>采购管理：对药品、耗材、备品备件及其他物资从采购需求预测开始，实现采购计划、采购价格、采购协议和订单管理；</h4>
                <h4>物资申领管理：建立医院内部的申领平台，通过电脑在线、无线终端等方式进行物资申领和管理，实现“0” 库存的管理方式</h4>
                <h4>物资库存管理：对库存进行出入库、盘点等管理，提供库存各类报表，并与财务核算的自动对接。</h4>
                <img src="/jhd/images/图片23.png"/>
            </div>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>