<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/about.css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/slide.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

</head>
<body>
<div>
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about.html">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner.jpg"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="navigation-down">
        <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px"/>
                </dl>
                <dl style="margin-left:100px">
                    <dt>公司产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--main-->
<div class="fen_main">
    <div id="main">
        <!--left-->
        <div class="col_left" id="col_left">
            <div class="fo1">
                <div class="tit">
                    <span>公司产品</span>
                </div>
                <ul>
                    <li>
                        <a href="/jhd/product" >基于大数据的医院绩效管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product2" >医院综合信息服务平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product5" class="on">军队医疗岗位绩效津贴分配系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product6">HRP系统</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--right-->
        <div class="col_right" id="Article">
            <div class="tit">
                <h4>军队医疗岗位绩效津贴分配系统</h4>
                <span>您当前的位置:
                        <a href="/">首页</a>
                          >
                        <a href="/jhd/product">公司产品</a>
                          >
                        <a href="/jhd/product5" class="on">军队医疗岗位绩效津贴分配系统</a>
                </span>
            </div>
            <div class="content nry">
                <h4>以国家医院绩效管理考核政策法规为依据，结合医院管理实践，以经济管理指标为核心，医疗质量、安全、效率、效益管理为重点，特别强调持续改进（PDCA）管理理念。实现医院绩效管理数据采集的自动化和绩效评估数字化，使医院的绩效评价工作更加公平、公正和规范化；通过实时数据统计分析，让管理者发现经营和管理中的薄弱环节，从而主动调整经营策略，优化资源配置，提高员工工作效率和积极性，增强医院综合竞争力。</h4>
                <h4>本系统指标全面考虑医院评审要求、统计要求及成本控制要求，运用层次化梯度分级方法，可自定义考核项目的构成及权重。支持日常考核及日常监督，充分体现精细化绩效管理特点，记录医院经营的状态，支撑运营策略的改进和提升。</h4>
                <img src="/jhd/images/图片12.png"/>
                <h6>我们的成绩</h6>
                <img src="/jhd/images/j.png" id="img"/>
            </div>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>