<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>京弘达信息技术有限公司</title>
    <link rel="stylesheet" type="text/css" href="/jhd/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="/jhd/css/about.css"/>
    <script type="text/javascript" src="/jhd/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/jhd/js/slide.js"></script>
    <script type="text/javascript" src="/jhd/js/nav.js"></script>

</head>
<body>
<div>
    <div class="navigation-up">
        <div class="navigation-inner">
            <div class="nav">
                <ul>
                    <li class="nav-up-selected-inpage" data-nav="home">
                        <h2>
                            <a href="/">首页</a>
                        </h2>
                    </li>
                    <li data-nav="about" class=""><h2><a href="/jhd/about">关于我们</a></h2>
                    </li>

                    <li data-nav="industry"><h2><a href="/jhd/content" class="industry">发展历程</a></h2>
                    </li>
                    <li data-nav="careers"><h2><a href="/jhd/joinus" class="careers">人才招聘</a></h2>
                    </li>
                    <li data-nav="party"><h2><a href="/jhd/news" class="party">新闻中心</a></h2>
                    </li>
                    <li data-nav="product"><h2><a href="/jhd/product" class="product">公司产品</a></h2>
                    </li>
                    <li data-nav="contact"><h2><a href="/jhd/lianxi" class="contact">联系我们</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <img src="/jhd/images/fen_banner"/>
    </div>

    <div class="navigation-down">
        <div id="about" class="nav-down-menu menu-1" style="display: none;" data-nav="about">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/111.jpg" style="width:150px; height:200px"/>
                </dl>
                <dl style="margin-left: 100px;">
                    <dt>我们的产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="navigation-down">
        <div id="product" class="nav-down-menu menu-3" style="display:none" data-nav="product">
            <div class="navigation-down-inner">
                <dl>
                    <img src="/jhd/images/index_med.jpg" style="width:150px;height:200px" />
                </dl>
                <dl style="margin-left:100px">
                    <dt>公司产品</dt>
                    <dd>
                        <a href="/jhd/product">基于大数据的医院绩效管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product2">医院综合信息服务平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </dd>
                    <dd>
                        <a href="/jhd/product6">HRP系统</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<!--main-->
<div class="fen_main">
    <div id="main">
        <!--left-->
        <div class="col_left" id="col_left">
            <div class="fo1">
                <div class="tit">
                    <span>公司产品</span>
                </div>
                <ul>
                    <li>
                        <a href="/jhd/product" >基于大数据的医院绩效管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product2" class="on">医院综合信息服务平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product3">人力资源管理系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product4">医院医疗数据挖掘分析平台</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product5">军队医疗岗位绩效津贴分配系统</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/jhd/product6">HRP系统</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--right-->
        <div class="col_right" id="Article">
            <div class="tit">
                <h4>医院综合信息服务平台</h4>
                <span>您当前的位置:
                        <a href="/">首页</a>
                          >
                        <a href="/jhd/product">公司产品</a>
                          >
                        <a href="/jhd/product2" class="on">医院综合信息服务平台</a>
                </span>
            </div>
            <div class="content nry">
                <h4>以指标体系为核心：构建各类指标的指标库，建立医疗质量、医疗效率的导向指标等</h4>
                <h4>开放灵活的平台架构：动态接口，支持平台可扩展性</h4>
                <h4>全面支撑医院绩效管理：提供预算、临床数据分析应用和医疗质量监控、绩效考核
                    在成本核算上做到“每一份支出都有去处，每一份收入都有来源”，在绩效管理上做到“用数据准确表明科室\小组\人员的绩效
                </h4>
                <br/>
                <img src="/jhd/images/图片20.png"/>
                <br/>
                <h4>将医疗质量和行为指标作为全院、科室的业务运行的监控值，进行监控和预警</h4>
                <br/>
                <img src="/jhd/images/图片21.png"/>
            </div>
        </div>
    </div>
</div>



</body>
<script type="text/javascript">
    <!--图片的数量,0必须保存-->
    var target = ["0", "1", "2", "3", "4"];
</script>
</html>