<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
<title>日间手术</title>
<link href="/pc/css/app.2db4f44f2c63933714d3dc2b9d5ac7cf.css" rel="stylesheet"/>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/pc/js/manifest.3ad1d5771e9b13dbdad2.js" charset="UTF-8"></script>
<script type="text/javascript" src="/pc/js/vendor.e5a31864a483774da7a0.js" charset="UTF-8"></script>
<script type="text/javascript" src="/pc/js/app.f1c80aa2d7ef8f89bb48.js" charset="UTF-8"></script>
</body>
</html>