<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1"></meta>
<title>日间手术系统</title>
<link href="/wap/css/app.30fcf504584a5cf5a28464d535244050.css" rel="stylesheet"/>
</head>
<body>
<div id="app"></div>

<script type="text/javascript">

  /*   // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
     var useragent = navigator.userAgent;
     if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
         // 这里警告框会阻塞当前页面继续加载
         alert('已禁止本次访问：您必须使用微信公众号访问！');
         // 以下代码是用javascript强行关闭当前页面
         var opened = window.open('about:blank', '_self');
         opened.opener = null;
         opened.close();
     }*/
 </script> 
<script type="text/javascript" src="/wap/js/manifest.3ad1d5771e9b13dbdad2.js" charset="UTF-8"></script>
<script type="text/javascript" src="/wap/js/vendor.8bf8faa8552904b244be.js" charset="UTF-8"></script>
<script type="text/javascript" src="/wap/js/app.f5a16d1ee0e462ea57e6.js" charset="UTF-8"></script>
</body>
</html>